body {
  font-family: Arial;
  background-image: url(textured-paper.png);
  margin: 0px 200px
}

#pic {
	float: right;
}

#address {
  margin: 1em;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
  text-transform: uppercase;
}

ul {
  list-style-type: square;
}

a {
  color: green;
}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}
